body {
  background: #210;
  color: #fec;
  font-family: Tahoma;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  white-space: nowrap;
}

h1, h2 {
  font-family: "Skranji", sans-serif;
}

.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.world-map {
  border: 5px outset #320;
  background-color: #a4bac7;
}

.land {
  fill: #342;
  stroke: #131;
}

.boundaries {
  fill: none;
}

.boundaries, .meteorite {
  stroke: rgba(17,51,17, .8);
}

.meteorite {
  stroke-width: .3;
}

.meteorite, .tooltip {
  cursor: pointer;
}

.tooltip {
  background: inherit;
  position: fixed;
  border: 3px outset rgba(255,255,255,.5);
  border-radius: 5px;
  padding: 0 10px;
  opacity: 0;
}

@-webkit-keyframes meteoriteEntrance {
  0% {
    -webkit-transform: scale(5) translate(-300px, -200px);
            transform: scale(5) translate(-300px, -200px);
  }
  80% {
    -webkit-transform: translate(0,0);
            transform: translate(0,0)
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes meteoriteEntrance {
  0% {
    -webkit-transform: scale(5) translate(-300px, -200px);
            transform: scale(5) translate(-300px, -200px);
  }
  80% {
    -webkit-transform: translate(0,0);
            transform: translate(0,0)
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
