body {
  background: #210;
  color: #fec;
  font-family: Tahoma;
  text-align: center;
}
h1 {
  font-size: 3em;
  margin: 0;
  white-space: nowrap;
}
h1, h2 {
  font-family: "Skranji", sans-serif;
}
.world-map {
  border: 5px outset #320;
  background-color: #a4bac7;
}
.land {
  fill: #342;
  stroke: #131;
}
.boundaries {
  fill: none;
  stroke: rgba(17,51,17, .8);
}
.meteorite, .tooltip {
  stroke: #000;
  cursor: pointer;
}
.tooltip {
  background: inherit;
  position: fixed;
  border: 3px outset #fff;
  border-radius: 5px;
  padding: 0 10px;
  opacity: 0;
}
