body {
  background: #fffeee;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  font-family: "Nobile", sans-serif;
  text-align: center;
}

h1, h2 {
  margin: 5px;
  white-space: nowrap;
}

line {
  stroke: rgba(0,0,0,0.25);
  stroke-width: 2px;
}

.flag, .tooltip {
  position: fixed;
  cursor: pointer;
}

.flag {
  -webkit-transition: -webkit-transform .3s ease-in .05s;
  transition: -webkit-transform .3s ease-in .05s;
  transition: transform .3s ease-in .05s;
  transition: transform .3s ease-in .05s, -webkit-transform .3s ease-in .05s;
}

.flag:active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.tooltip {
  border: 3px solid #fff;
  border-radius: 5px;
  background: #fdb;
  padding: 10px 5px 5px 5px;
  font-size: 1.1em;
  font-weight: bold;
  opacity: 0;
}
