body {
  background: #fffafa;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

body, text {
  font-family: "Arimo", sans-serif;
}

h1, h2 {
  text-align: center;
  margin: 1px;
}

text {
  font-weight: bold;
  font-size: 12px;
}

.axis-x text {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  text-anchor: end;
}

path {
  display: none;
}

.tooltip, .legend, .footer {
  position: fixed;
}

.tooltip {
  border: 8px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-transition: background 1s;
  transition: background 1s;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.tooltip-title {
  font-size: 1.1em;
  font-weight: bold;
}

.legend-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.footer {
  bottom: 1px;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
