body {
  background: #fffafa;
}

body, text {
  font-family: "Arimo", sans-serif;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

text {
  font-weight: bold;
  font-size: 12px;
}

.axis-x text {
  transform: rotate(-40deg);
  text-anchor: end;
}

path {
  display: none;
}

.tooltip, .legend, .footer {
  position: fixed;
}

.tooltip {
  border: 8px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  transition: background 1s;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.tooltip-title {
  font-size: 1.1em;
  font-weight: bold;
}

.legend-labels {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.footer {
  bottom: 5px;
  width: 100%;
  text-align: center;
}


.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
