body {
  font-family: "Source Sans Pro", sans-serif;
  background: #fafaff;
}

h2 {
  text-align: center;
  margin: 3px;
}

text {
  font-weight: bold;
}

.axis-x text {
  -webkit-transform: translateY(5px) rotate(-40deg);
          transform: translateY(5px) rotate(-40deg);
  text-anchor: end;
}

line {
  stroke-dasharray: 1, 3;
}

circle.doping {
  fill: #e00;
  cursor: pointer;
  -webkit-transition: stroke-width .3s;
  transition: stroke-width .3s;
}

circle.doping:hover {
  stroke: #900;
  stroke-width: 3px;
}

circle.clean {
  fill: #00d;
}

.tooltip {
  position: fixed;
  background: rgba(240, 210, 255, 0.9);
  border: 8px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  max-width: 200px;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.tooltip-title {
  font-size: 1.1em;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 5px;
  line-height: 90%;
}

.blinking {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes circleEntrance {
  0% {
    opacity: 0;
    r: 16;
  }
  90% {
    opacity: .5;
    r: 3;
  }
  100% {
    opacity: 1;
    r: 6;
  }
}

@keyframes circleEntrance {
  0% {
    opacity: 0;
    r: 16;
  }
  90% {
    opacity: .5;
    r: 3;
  }
  100% {
    opacity: 1;
    r: 6;
  }
}
