body {
  background: #f5fff5;
}

body, text {
  font-family: 'Asap Condensed', sans-serif;
}

h1 {
  text-align: center;
  white-space: nowrap;
}

rect {
  -webkit-transition: fill .2s ease-out;
  transition: fill .2s ease-out;
}

rect:hover {
  fill: #0e5;
}

text {
  font-weight: bold;
  font-size: 1.4em;
}

.axis-x text {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  text-anchor: end;
}

.axis-y line {
  stroke-dasharray: 3,9;
}

footer {
  position: fixed;
  bottom: 5px;
  line-height: 95%;
}

.blinking {
  -webkit-animation: blink .5s infinite;
          animation: blink .5s infinite;
}

@-webkit-keyframes blink {
  50% { opacity: .5; }
}

@keyframes blink {
  50% { opacity: .5; }
}

@-webkit-keyframes barEntrance {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
  }
  80% {
    opacity: .5;
    -webkit-transform: scaleY(0.95);
            transform: scaleY(0.95)
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes barEntrance {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
  }
  80% {
    opacity: .5;
    -webkit-transform: scaleY(0.95);
            transform: scaleY(0.95)
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
